@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
  color: aliceblue;


}

.container{
  min-height: 100vh;
  background-image: url(./images/wall/day/sunny.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1;
}

h1,h2,h3,h4,h5{
  margin: 0px;
}

.red{
  background-color: rgb(255, 0, 0);
}

.blue{
  background-color: rgb(72, 0, 255);
}

.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.weather{
  width: 70%;
  /* background-color: aqua; */
}
.info{
  width: 30%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.767);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo{
  margin-bottom: 50%;
  margin-top: 10px;
  margin-left: 15px;
}

.num{
  font-size: 80px;
}

.img{
  display: flex;
  height: 60px;
}

.temprature{
  margin-left: 20px;
}

.location{
  margin-left: 40px;
  margin-top: 20px;
}

.pic{
  margin-left: 40px;
  margin-top: 10px;
  text-align: center;
}

input{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(255, 255, 255) !important;
  outline: none;
  width: 85%;
  height: 40px;
  margin-top: 5px;
  padding-left: 15px;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
input[type=text]:focus {
  border: 0px solid rgba(255, 255, 255, 0) !important;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-style:italic;
}

button{
  width: 15%;
  height: 50px;
}

.info{
  width: 30%;
}

.nav{
  width: 100%;
  justify-content: left;
  /* align-items: center; */
}

.weatherinfo{
  margin-top: 10px;
  margin-left: 10px;
}

.btn{
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  width: auto;
  color: rgb(252, 254, 255);
  font-size: 25px;
  text-align: left;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.456);
}

.line{
  border-top: 1px solid rgb(255, 255, 255);
  margin-right: 40px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.right{
  display: flex;
  text-align: right;
  /* justify-content: right; */
  justify-items: right; 
  margin-right: 10px; 
  margin-left: auto;
}
